@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: 'Roboto Slab', sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
  display: none;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 5px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
  border-radius: 5px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}
